<div class="controls">
    <div class="controls-primary">
        <div class="controls-column">
            <button class="btn js-new">
                <i class="icon-file-empty"></i>
                <span>Notiz erstellen</span>
            </button>
        </div>

        <div class="controls-column">
            <select class="js-switch-style">
                <option value="default">Standard Theme</option>
                <option value="0">Schwarz-Weiss Theme</option>
            </select>
        </div>
    </div>

    <div class="controls-secondary">
        <div class="controls-column">
            <a href="/sortduedate" class="sort js-sort" data-sort="due" title="Einträge sortieren nach">Erledigungsdatum</a>
            <a href="/sortcreationdate" class="sort js-sort" data-sort="created" title="Einträge sortieren nach">Erstellungsdatum</a>
            <a href="/sortimportance" class="sort js-sort" data-sort="importance" title="Einträge sortieren nach">Wichtigkeit</a>
        </div>

        <div class="controls-column">
            <a href="/filtered" class="filter js-filter" data-filter="done">erledigte anzeigen</a>
        </div>
    </div>
</div>