<!DOCTYPE html>
<html>
	<head>
		<title>Fehler</title>

		<meta charset="utf-8"/>
		<meta name="robots" content="noindex, nofollow"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

		<link rel="stylesheet" href="/css/styles.min.css" type="text/css" />
	</head>
	<body>
		<div class="container">
			<h1>{{message}}</h1>
			<h2>{{error.status}}</h2>
			<pre>{{error.stack}}</pre>
		</div>
	</body>
</html>
